In [24]:
import pandas as pd

In [25]:
df_1= pd.read_csv("Adolescent_birth_rate.csv")
df_2= pd.read_csv("Informed_decision.csv")

In [26]:
def sel_recent_year(df):
    df_c= df.copy()
    df_c= df_c.groupby("Geographic Area Code").max("Year")
    return df_c

In [27]:
def filter_out(df1, df2):
    merged_df = df1.merge(df2, on='Geographic Area Code', suffixes=('', '_max'))
    filtered_df = merged_df[merged_df['Year'] == merged_df['Year_max']]
    final_df = filtered_df.drop('Year_max', axis=1)
    return final_df

In [30]:
df_1= filter_out(df1= df_1, df2= sel_recent_year(df_1))
display(df_1)
df_1.to_csv("Adolescent_birth_rate.csv")

,Geographic Area Code,Geographic Area Name,ISO3,Longitude,Latitude,SDG Region,Sex Code,Age,Year,"Value(per 1,000 population)",...,"Value(per 1,000 population)_max",Longitude_max_max,Latitude_max_max,"Value(per 1,000 population)_max_max",Longitude_max_max,Latitude_max_max,"Value(per 1,000 population)_max_max",Longitude_max_max_max,Latitude_max_max_max,"Value(per 1,000 population)_max_max_max"
0,4,Afghanistan,AFG,66.026878,33.831600,Central and Southern Asia,F,15 to 19 years old,2017,62.06,...,62.06,66.026878,33.831600,182.45,66.026878,33.831600,62.06,66.026878,33.831600,182.45
1,8,Albania,ALB,20.066608,41.138969,Europe and Northern America,F,15 to 19 years old,2020,13.15,...,13.15,20.066608,41.138969,21.02,20.066608,41.138969,13.15,20.066608,41.138969,21.02
2,12,Algeria,DZA,2.678164,28.159401,Northern Africa and Western Asia,F,15 to 19 years old,2017,12.01,...,12.01,2.678164,28.159401,13.48,2.678164,28.159401,12.01,2.678164,28.159401,13.48
3,16,American Samoa,ASM,-170.718719,-14.305873,"Oceania, exc. Australia and New Zealand",F,15 to 19 years old,2019,36.07,...,36.07,-170.718719,-14.305873,55.04,-170.718719,-14.305873,36.07,-170.718719,-14.305873,55.04
4,20,Andorra,AND,1.576257,42.545486,Europe and Northern America,F,15 to 19 years old,2020,0.51,...,0.51,1.576257,42.545486,9.13,1.576257,42.545486,0.51,1.576257,42.545486,9.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,862,Venezuela,VEN,-66.156418,7.121325,Latin America and the Caribbean,F,15 to 19 years old,2017,81.05,...,81.05,-66.156418,7.121325,102.50,-66.156418,7.121325,81.05,-66.156418,7.121325,102.50
223,876,Wallis and Futuna Islands,WLF,-176.203476,-13.284712,"Oceania, exc. Australia and New Zealand",F,15 to 19 years old,2008,14.78,...,14.78,-176.203476,-13.284712,14.78,-176.203476,-13.284712,14.78,-176.203476,-13.284712,14.78
224,882,Samoa,WSM,-172.443069,-13.615415,"Oceania, exc. Australia and New Zealand",F,15 to 19 years old,2018,54.90,...,54.90,-172.443069,-13.615415,76.99,-172.443069,-13.615415,54.90,-172.443069,-13.615415,76.99
225,887,Yemen,YEM,45.223892,15.222421,Northern Africa and Western Asia,F,15 to 19 years old,2012,67.22,...,67.22,45.223892,15.222421,96.98,45.223892,15.222421,67.22,45.223892,15.222421,96.98
226,894,Zambia,ZMB,27.850328,-14.597011,Sub-Saharan Africa,F,15 to 19 years old,2017,134.57,...,134.57,27.850328,-14.597011,154.57,27.850328,-14.597011,134.57,27.850328,-14.597011,154.57

In [32]:
df_2= filter_out(df1= df_2, df2= sel_recent_year(df_2))
display(df_2)
df_2.to_csv("Informed_decision.csv")

,Geographic Area Code,Geographic Area Name,ISO3,Longitude,Latitude,SDG Region,Sex Code,Age,Year,Value,Nature of the Data Code,Longitude_max,Latitude_max,Value_max,Longitude_max,Latitude_max,Value_max,Longitude_max_max,Latitude_max_max,Value_max_max
0,8,Albania,ALB,20.066608,41.138969,Europe and Northern America,F,15 to 49 years old,2018,61.9,C,20.066608,41.138969,61.9,20.066608,41.138969,61.9,20.066608,41.138969,61.9
1,24,Angola,AGO,17.578171,-12.337248,Sub-Saharan Africa,F,15 to 49 years old,2016,39.2,C,17.578171,-12.337248,39.2,17.578171,-12.337248,39.2,17.578171,-12.337248,39.2
2,51,Armenia,ARM,44.938393,40.294998,Northern Africa and Western Asia,F,15 to 49 years old,2016,61.8,C,44.938393,40.294998,64.3,44.938393,40.294998,61.8,44.938393,40.294998,64.3
3,50,Bangladesh,BGD,89.176605,22.869616,Central and Southern Asia,F,15 to 49 years old,2018,63.8,C,89.176605,22.869616,63.8,89.176605,22.869616,63.8,89.176605,22.869616,63.8
4,204,Benin,BEN,2.339934,9.654016,Sub-Saharan Africa,F,15 to 49 years old,2018,25.2,C,2.339934,9.654016,41.1,2.339934,9.654016,25.2,2.339934,9.654016,41.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,804,Ukraine,UKR,31.402708,49.007359,Europe and Northern America,F,15 to 49 years old,2007,81.0,C,31.402708,49.007359,81.0,31.402708,49.007359,81.0,31.402708,49.007359,81.0
64,834,United Republic of Tanzania,TZA,34.805210,-6.265333,Sub-Saharan Africa,F,15 to 49 years old,2010,46.8,C,34.805210,-6.265333,46.8,34.805210,-6.265333,46.8,34.805210,-6.265333,46.8
65,860,Uzbekistan,UZB,63.119446,41.775604,Central and Southern Asia,F,15 to 49 years old,2022,70.4,C,63.119446,41.775604,70.4,63.119446,41.775604,70.4,63.119446,41.775604,70.4
66,894,Zambia,ZMB,27.850328,-14.597011,Sub-Saharan Africa,F,15 to 49 years old,2018,46.5,C,27.850328,-14.597011,46.6,27.850328,-14.597011,46.5,27.850328,-14.597011,46.6
67,716,Zimbabwe,ZWE,29.869097,-19.000755,Sub-Saharan Africa,F,15 to 49 years old,2015,59.9,C,29.869097,-19.000755,59.9,29.869097,-19.000755,59.9,29.869097,-19.000755,59.9